In [2]:
import pandas as pd
import nltk
import string
import pickle

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

from sklearn.naive_bayes import MultinomialNB

In [6]:
df = pd.read_csv('data/IRAhandle_tweets_1.csv')

In [7]:
df.shape

(381016, 15)

In [8]:
df.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,9.060000e+17,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,9.060000e+17,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll

In [9]:
df['account_category'].unique()

array(['RightTroll', 'NonEnglish', 'Fearmonger', 'LeftTroll', 'Unknown',
       'HashtagGamer', 'NewsFeed', 'Commercial'], dtype=object)

In [10]:
df[df['account_category']=='NewsFeed']

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
52727,8.026730e+17,ALBUQUERQUEON,Albuquerque men arrested for trying to sell st...,Unknown,English,1/1/2017 0:21,1/1/2017 0:21,60,10,822,NaN,local,1,0,NewsFeed
52728,8.026730e+17,ALBUQUERQUEON,Albuquerque Pokemon Go players here to stay an...,Unknown,English,1/1/2017 14:51,1/1/2017 14:51,60,10,830,NaN,local,1,0,NewsFeed
52729,8.026730e+17,ALBUQUERQUEON,Queen Elizabeth II misses church due to 'heavy...,Unknown,English,1/1/2017 14:53,1/1/2017 14:53,60,10,831,NaN,local,1,0,NewsFeed
52730,8.026730e+17,ALBUQUERQUEON,New UN chief urges New Year's resolution: 'Put...,Unknown,English,1/1/2017 15:23,1/1/2017 15:23,60,10,832,NaN,local,1,0,NewsFeed
52731,8.026730e+17,ALBUQUERQUEON,China says it will shut down ivory trade by en...,Unknown,English,1/1/2017 15:53,1/1/2017 15:53,60,10,833,NaN,local,1,0,NewsFeed
52732,8.026730e+17,ALBUQUERQUEON,Rural New Mexico exports mentoring model for p...,Unknown,English,1/1/2017 16:23,1/1/2017 16:23,60,10,834,NaN,local,1,0,NewsFeed
52733,8.026730e+17,ALBUQUERQUEON,County enters last weekend of Tavern Taxi prog...,Unknown,English,1/1/2017 1:53,1/1/2017 1:53,60,10,823,NaN,local,1,0,NewsFeed
52734,8.026730e+17,ALBUQUERQUEON,Eye on New Mexico: Water in New Mexico https:/...,Unknown,English,1/1/2017 22:23,1/1/2017 22:23,60,10,835,NaN,local,1,0,NewsFeed
52735,8.026730e+17,ALBUQUERQUEON,Family searching for missing woman from Cubero...,Unknown,English,1/1/2017 2:23,1/1/2017 2:23,60,10,824,NaN,local,1,0,NewsFeed
52736,8.026730e+17,ALBUQUERQUEON,New Year’s Eve weather forecast https://t.co/9...,Unknown,English,1/1/2017 2:53,1/1/2017 2:53,60,10,825,NaN,local,1,0,NewsFeed
52737,8.026730e+17,ALBUQUERQUEON,Repeat offender attempting to steal a truck in...,Unknown,English,1/1/2017 4:23,1/1/2017 4:23,60,10,826,NaN,local,1,0,NewsFeed
52738,8.026730e+17,ALBUQUERQUEON,Rain dampens world record Menorah attempt http...,Unknown,English,1/1/2017 5:23,1/1/2017 5:23,60,10,827,NaN,local,1,0,NewsFeed
52739,8.026730e+17,ALBUQUERQUEON,City celebrates NYE in Civic Plaza https://t.c...,Unknown,English,1/1/2017 5:53,1/1/2017 5:53,60,10,828,NaN,local,1,0,NewsFeed
52740,8.026730e+17,ALBUQUERQUEON,State police crack down on drunk drivers durin...,Unknown,English,1/1/2017 7:21,1/1/2017 7:21,60,10,829,NaN,local,1,0,NewsFeed
52741,8.026730e+17,ALBUQUERQUEON,Albuquerque mayor revives Commission on Indian...,Unknown,English,1/10/2017 0:17,1/10/2017 0:17,60,10,1051,NaN,local,1,0,NewsFeed
52742,8.026730e+17,ALBUQUERQUEON,Energy boss: Nuke-leak progress but work ahead...,Unknown,English,1/10/2017 0:31,1/10/2017 0:31,60,10,1052,NaN,local,1,0,NewsFeed
52743,8.026730e+17,ALBUQUERQUEON,Woman steals purses at 2 Albuquerque churches ...,Unknown,English,1/10/2017 0:47,1/10/2017 0:47,60,10,1053,NaN,local,1,0,NewsFeed
52744,8.026730e+17,ALBUQUERQUEON,Reports: gunfire heard near police station in ...,Unknown,English,1/10/2017 12:47,1/10/2017 12:47,60,10,1062,NaN,local,1,0,NewsFeed
52745,8.026730e+17,ALBUQUERQUEON,Company to add 70 manufacturing jobs in Roswel...,Unknown,English,1/10/2017 14:01,1/10/2017 14:01,60,10,1063,NaN,local,1,0,NewsFeed
52746,8.026730e+17,ALBUQUERQUEON,New Mexico Democrats to watch Obama's 'farewel...,Unknown,English,1/10/2017 15:31,1/10/2017 15:31,60,10,1064,NaN,local,1,0,NewsFeed
52747,8.026730e+17,ALBUQUERQUEON,Tuesday morning weather forecast https://t.co/...,Unknown,English,1/10/2017 16:01,1/10/2017 16:01,60,10,1065,NaN,local,1,0,NewsFeed
52748,8.026730e+17,ALBUQUERQUEON,OMI releases autopsy report of slain Albuquerq...,Unknown,English,1/10/2017 16:31,1/10/2017 16:31,60,10,1066,NaN,local,1,0,NewsFeed
52749,8.026730e+17,ALBUQUERQUEON,Woman’s remains spark questions among Santa An...,Unknown,English,1/10/2017 17:01,1/10/2017 17:01,60,10,1067,NaN,local,1,0,NewsFeed
52750,8.026730e+17,ALBUQUERQUEON,New Mexico Highlands University has named a ne...,Unknown,English,1/10/2017 17:17,1/10/2017 17:17,60,10,1068,NaN,local,1,0,NewsFeed
52751,8.026730e+17,ALBUQUERQUEON,"Fired workers point to retaliation, sue New Me...",Unknown,English,1/10/2017 18:31,1/10/2017 18:31,60,10,1069,NaN,local,1,0,NewsFeed
52752,8.026730e+17,ALBUQUERQUEON,US Supreme Court rules in 2011 New Mexico poli...,Unknown,English,1/10/2017 19:01,1/10/2017 19:01,60,10,1070,NaN,local,1,0,NewsFeed
52753,8.026730e+17,ALBUQUERQUEON,US Supreme Court rules in 2011 New Mexico poli...,Unknown,English,1/10/2017 19:17,1/10/2017 19:17,60,10,1071,NaN,local,1,0,NewsFeed
52754,8.026730e+17,ALBUQUERQUEON,How much sugar is in your kids' breakfast? htt...,Unknown,English,1/10/2017 19:31,1/10/2017 19:31,60,10,1072,NaN,local,1,0,NewsFeed
52755,8.026730e+17,ALBUQUERQUEON,Monday evening weather forecast https://t.co/x...,Unknown,English,1/10/2017 1:01,1/10/2017 1:01,60,10,1054,NaN,local,1,0,NewsFeed
52756,8.026730e+17,ALBUQUERQUEON,Police: Shoplifter used daughter in escape att...,Unknown,English,1/10/2017 1:31,1/10/2017 1:31,60,10,1055,NaN,local,1,0,NewsFeed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284660,3.091979e+09,BATONROUGEVOICE,"Scott Rabalais' SEC rating game, Heisman race ...",United States,English,9/9/2016 18:02,9/9/2016 18:03,2391,3119,19334,NaN,local,0,0,NewsFeed
284661,3.091979e+09,BATONROUGEVOICE,House passes Sept. 11 legislation as Obama vet...,United States,English,9/9/2016 18:20,9/9/2016 18:20,2391,3119,19335,NaN,local,0,0,NewsFeed
284662,3.091979e+09,BATONROUGEVOICE,Fact check: Is marijuana safer than alcohol? ...,United States,English,9/9/2016 18:43,9/9/2016 18:43,2391,3119,19336,NaN,local,0,0,NewsFeed
284663,3.091979e+09,BATONROUGEVOICE,Dat Chat podcast rewind: Breaking down the Sai...,United States,English,9/9/2016 19:21,9/9/2016 19:21,2391,3120,19337,NaN,local,0,0,NewsFeed
284664,3.091979e+09,BATONROUGEVOICE,Facebook co-founder pledging $20 million to de...,United States,English,9/9/2016 19:28,9/9/2016 19:29,2391,3120,19338,NaN,local,0,0,NewsFeed
284665,3.091979e+09,BATONROUGEVOICE,2016 Louisiana Senate race: Democrats' path go...,United States,English,9/9/2016 19:32,9/9/2016 19:34,2391,3119,19339,NaN,local,0,0,NewsFeed
284666,3.091979e+09,BATONROUGEVOICE,Deadline set for safety net hospitals to agree...,United States,English,9/9/2016 19:45,9/9/2016 19:45,2391,3119,19340,NaN,local,0,0,NewsFeed
284667,3.091979e+09,BATONROUGEVOICE,Facebook co-founder pledging $20 million to de...,United States,English,9/9/2016 19:51,9/9/2016 19:51,2391,3119,19341,NaN,local,0,0,NewsFeed
284668,3.091979e+09,BATONROUGEVOICE,Rabalais: The Hall of Fame a fitting destinati...,United States,English,9/9/2016 1:56,9/9/2016 1:57,2391,3120,19302,NaN,local,0,0,NewsFeed
284669,3.091979e+09,BATONROUGEVOICE,What's behind burglary and criminal investigat...,United States,English,9/9/2016 20:27,9/9/2016 20:28,2391,3120,19342,NaN,local,0,0,NewsFeed
284670,3.091979e+09,BATONROUGEVOICE,New Orleans abandoned vehicle auction set for ...,United States,English,9/9/2016 21:09,9/9/2016 21:09,2391,3120,19343,NaN,local,0,0,NewsFeed
284671,3.091979e+09,BATONROUGEVOICE,Obama administration stalls North Dakota oil p...,United States,English,9/9/2016 21:41,9/9/2016 21:42,2391,3120,19344,NaN,local,0,0,NewsFeed
284672,3.091979e+09,BATONROUGEVOICE,"'Yeah,' Jahri Evans and Zach Strief are back t...",United States,English,9/9/2016 21:56,9/9/2016 21:56,2391,3120,19346,NaN,local,0,0,NewsFeed
284673,3.091979e+09,BATONROUGEVOICE,Plans to condemn French Settlement homes along...,United States,English,9/9/2016 21:56,9/9/2016 21:56,2391,3120,19345,NaN,local,0,0,NewsFeed
284674,3.091979e+09,BATONROUGEVOICE,Contractors and hopeful workers sign up for fl...,United States,English,9/9/2016 22:38,9/9/2016 22:39,2391,3120,19347,NaN,local,0,0,NewsFeed
284675,3.091979e+09,BATONROUGEVOICE,Good news: Tropical storms won't mean a hike i...,United States,English,9/9/2016 23:03,9/9/2016 23:04,2391,3120,19348,NaN,local,0,0,NewsFeed
284676,3.091979e+09,BATONROUGEVOICE,"US, Russia agree on Syria cease-fire; Kerry ca...",United States,English,9/9/2016 23:27,9/9/2016 23:27,2391,3120,19349,NaN,local,0,0,NewsFeed
284677,3.091979e+09,BATONROUGEVOICE,Livingston Parish Council adopts special flood...,United States,English,9/9/2016 3:02,9/9/2016 3:02,2391,3120,19303,NaN,local,0,0,NewsFeed
284678,3.091979e+09,BATONROUGEVOICE,Play time: Recess to return to Jefferson Paris...,United States,English,9/9/2016 3:11,9/9/2016 3:11,2391,3120,19304,NaN,local,0,0,NewsFeed
284679,3.091979e+09,BATONROUGEVOICE,Unusual North Korea seismic activity likely me...,United States,English,9/9/2016 3:30,9/9/2016 3:31,2391,3121,19305,NaN,local,0,0,NewsFeed
284680,3.091979e+09,BATONROUGEVOICE,Charity concert for Greater Baton Rouge Food B...,United States,English,9/9/2016 3:56,9/9/2016 3:56,2391,3121,19306,NaN,local,0,0,NewsFeed
284681,3.091979e+09,BATONROUGEVOICE,Saints finally get their man by landing corner...,United States,English,9/9/2016 3:56,9/9/2016 3:56,2391,3121,19307,NaN,local,0,0,NewsFeed
284682,3.091979e+09,BATONROUGEVOICE,Is federal government trying to take down for-...,United States,English,9/9/2016 4:05,9/9/2016 4:05,2391,3120,19308,NaN,local,0,0,NewsFeed
284683,3.091979e+09,BATONROUGEVOICE,Former LSU football players donate items to Ba...,United States,English,9/9/2016 4:27,9/9/2016 4:29,2391,3120,19309,NaN,local,0,0,NewsFeed
284684,3.091979e+09,BATONROUGEVOICE,Tougher sales tax enforcement sought by New Or...,United States,English,9/9/2016 4:31,9/9/2016 4:32,2391,3120,19310,NaN,local,0,0,NewsFeed
284685,3.091979e+09,BATONROUGEVOICE,Mayor Holden misses Metro Council meeting beca...,United States,English,9/9/2016 5:34,9/9/2016 5:35,2391,3120,19311,NaN,local,0,0,NewsFeed
284686,3.091979e+09,BATONROUGEVOICE,AZ Secretary of State: Congress should step in...,United States,English,9/9/2016 6:40,9/9/2016 6:40,2391,3120,19312,NaN,local,0,0,NewsFeed
284687,3.091979e+09,BATONROUGEVOICE,Arizona congressional race could shape future ...,United States,English,9/9/2016 7:46,9/9/2016 7:46,2391,3120,19313,NaN,local,0,0,NewsFeed
284688,3.091979e+09,BATONROUGEVOICE,Officials re-schedule False River drawdown aft...,United States,English,9/9/2016 9:56,9/9/2016 9:56,2391,3120,19314,NaN,local,0,0,NewsFeed
284689,3.091979e+09,BATONROUGEVOICE,"Check out the matchups in Class 5A, 4A, like S...",United States,English,9/9/2016 9:56,9/9/2016 9:57,2391,3120,19315,NaN,local,0,0,NewsFeed

In [11]:
df_english = df[df['account_category'] != 'NonEnglish']

In [12]:
df_english.shape

(292080, 15)

In [13]:
def custom_tokenizer(text):
    punc = ''.join(string.punctuation.split('#'))
    
    # remove punctuation
    remove_punct = str.maketrans('', '', punc)
    text = text.translate(remove_punct)

    # remove digits and convert to lower case
    remove_digits = str.maketrans('', '', string.digits)
    text = text.lower().translate(remove_digits)

    # tokenize
    tokens = word_tokenize(text)

    # remove stop words
    stop_words = stopwords.words('english')
    tokens_stop = [y for y in tokens if y not in stop_words]

    # stem
    stemmer = SnowballStemmer('english')
    tokens_stem = [stemmer.stem(y) for y in tokens_stop] 

    return tokens_stem

In [14]:
cv = CountVectorizer(tokenizer=custom_tokenizer)

In [11]:
test_df = df_english[0:10000]

In [12]:
print(test_df.shape)
test_df.head()

(10000, 15)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,9.060000e+17,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,9.060000e+17,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll

In [9]:
X, y = test_df.content, test_df.account_category
X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=.3, random_state=3)

NameError: name 'test_df' is not defined

In [14]:
X_train.shape, y_train.shape

((7000,), (7000,))

In [15]:
X_test.shape, y_test.shape

((3000,), (3000,))

In [16]:
# countvectorizing and training
cv = CountVectorizer(tokenizer=custom_tokenizer)

X_train_cv = cv.fit_transform(X_train)
X_test_cv  = cv.transform(X_test)

In [17]:
nb = MultinomialNB()

nb.fit(X_train_cv, y_train)
nb.score(X_test_cv, y_test)
#Model with 10,000 tweets, dropping hashtags

0.823

In [10]:
X, y = df_english.content, df_english.account_category
X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=.3, random_state=3)

In [19]:
X_train.shape, y_train.shape

((204456,), (204456,))

In [11]:
# countvectorizing and training
cv = CountVectorizer(tokenizer=custom_tokenizer)

X_train_cv = cv.fit_transform(X_train)
X_test_cv  = cv.transform(X_test)

In [ ]:
nb = MultinomialNB()

nb.fit(X_train_cv, y_train)
nb.score(X_test_cv, y_test)
#Model with all tweets, dropping hashtags

In [ ]:
preds = nb.predict(X_test_cv)

In [ ]:
X_test.head(10)

In [ ]:
y_test.head(10)

In [ ]:
print(preds[:10])

In [ ]:
X_test.iloc[1]

In [13]:
X, y = df_english.content, df_english.account_category
X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=.3, random_state=3)

# countvectorizing and training
cv = CountVectorizer(tokenizer=custom_tokenizer)

X_train_cv = cv.fit_transform(X_train)  
X_test_cv  = cv.transform(X_test)

In [14]:
nb = MultinomialNB()

nb.fit(X_train_cv, y_train)
nb.score(X_test_cv, y_test)
#Model with all tweets, keeping hashtags

0.7975554642563681

In [16]:
with open('nb_model.pkl', 'wb') as picklefile:
    pickle.dump(nb, picklefile)

In [3]:
with open('nb_model.pkl', 'rb') as picklefile:
    nb_model = pickle.load(picklefile)

In [20]:
nb_model.predict(X_test_cv[0])

array(['NewsFeed'], dtype='<U12')

In [21]:
mytweet = 'Florida man feeds food to alligator'
#tokens = custom_tokenizer(mytweet)
tokens_cv = cv.transform([mytweet])
nb.predict(tokens_cv)[0]
# for word in tokens:
#     print(word)
#     print(nb.predict(cv.transform([word])))

'NewsFeed'

In [4]:
def russiafy_my_tweet(tweet):
    tokens_cv = cv.transform([tweet])
    print('Your tweet is most similar to a Russian', nb.predict(tokens_cv)[0])

In [5]:
russiafy_my_tweet('Florida man feeds food to alligator')

NameError: name 'cv' is not defined

In [27]:
russiafy_my_tweet('Trump is the best forever, #MAGA')

Your tweet is most similar to a Russian RightTroll

In [28]:
russiafy_my_tweet('Why do cops hate people')

Your tweet is most similar to a Russian LeftTroll

### Now lets try with 2 grams

In [16]:
X, y = df_english.content, df_english.account_category
X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=.3, random_state=3)

# countvectorizing and training
cv = CountVectorizer(tokenizer=custom_tokenizer, ngram_range=(1,2))

X_train_cv = cv.fit_transform(X_train)
X_test_cv  = cv.transform(X_test)

In [17]:
nb = MultinomialNB()

nb.fit(X_train_cv, y_train)
nb.score(X_test_cv, y_test)
#Model with 2 grams

0.8213274901853373